.footer-container{
    background-color: #393646;
    color: #ffff;
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
}
span{
    font-weight: 600;
    letter-spacing: 2px;
    color: #A97155;
    margin-left: 0.31em;
}